<h1>Buscaminas</h1>

<table>
	<tr>
		<td>
			<form method="post" action="/casilla/1">
				<input type="submit" value=" " id="boton1"/>
			</form>		
		</td>
		<td>
			<form method="post" action="/casilla/2">
				<input type="submit" value=" " id="boton2"/>
			</form>		
		</td>
		<td>
			<form method="post" action="/casilla/3">
				<input type="submit" value=" " id="boton3"/>
			</form>		
		</td>
	</tr>
	<tr>
		<td>
			<form method="post" action="/casilla/4">
				<input type="submit" value=" " id="boton4"/>
			</form>		
		</td>
		<td>
			<form method="post" action="/casilla/5">
				<input type="submit" value=" " id="boton5"/>
			</form>		
		</td>
		<td>
			<form method="post" action="/casilla/6">
				<input type="submit" value=" " id="boton6"/>
			</form>		
		</td>
	</tr>
	<tr>
		<td>
			<form method="post" action="/casilla/7">
				<input type="submit" value=" " id="boton7"/>
			</form>		
		</td>
		<td>
			<form method="post" action="/casilla/8">
				<input type="submit" value=" " id="boton8"/>
			</form>		
		</td>
		<td>
			<form method="post" action="/casilla/9">
				<input type="submit" value=" " id="boton9"/>
			</form>		
		</td>
	</tr>


</table>




<p><%= @resultado %></p>
