<h1>Buscaminas</h1>

<form method="post" action="/casilla1">
	<input type="submit" value=" " id="boton1"/>
</form>

<form method="post" action="/casilla2">
	<input type="submit" value=" " id="boton2"/>
</form>

<p><%= @resultado %></p>
